@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #000000 ;
    /* #081448; <== use the hex directly */
    color: #f5f5eb;
    font-family: 'Inter', sans-serif;
    /* background-image: radial-gradient(circle at bottom, #081448 1%, #000000 90%); */
    background-image: linear-gradient( #000000, #000000,#081448); 

    background-attachment: fixed;
  }
}
 